.content{
    width: 100%;
    height: auto;
    margin: 60px 0;
    .content__container{
        width: 80%;
        height: auto;
        margin: 0 auto;
        .content__title{
            text-align: center;
            margin: 15px 0;
        }
        .content__subtitle{
            text-align: center;
            color: #313841;
            font-size: 20px;
            margin: 15px 0;
        }
        .content__icons{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .content__icons--icon{
                width: 33%;
                height: auto;
                margin: 50px 0;
                display: flex;
                justify-content: space-between;
                padding: 0 40px 0 0;
                box-sizing: border-box;
                .svg-inline--fa{ 
                    font-size: 50px;
                    margin-right: 20px;

                }
                .content__text{
                    .content__text--title{ font-size: 22px; margin-bottom: 10px; }
                    .content__text--paragraph{ font-size: 16px; color: #898989; }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .content{
        .content__container{
            .content__subtitle{
                font-size: 18px;
            }
            .content__icons{
                .content__icons--icon{
                    width: 50%;
                    margin: 30px 0;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .content{
        .content__container{
            .content__subtitle{
                font-size: 18px;
            }
            .content__icons{
                .content__icons--icon{
                    width: 100%;
                    height: auto;
                    margin: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    .svg-inline--fa{ 
                        font-size: 50px;
                        margin-right: 20px;
    
                    }
                    .content__text{
                        .content__text--paragraph{ font-size: 14px; }
                    }
                }
            }
        }
    }
}