.footer{
    width: 100%;
    height: auto;
    background-color: $preto;
    .footer__container{
        width: 80%;
        height: auto;
        color: $branco;
        margin: 0 auto;
        padding: 60px 0 100px;
        .footer__container--title{
            text-align: center;
            color: $amarelo;
            margin: 15px 0;
        }
        .footer__container--subtitle{
            color: #898989;
            font-size: 20px;
            text-align: center;
        }
        .footer__form{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0;
            .footer__form--mail{
                width: 45%;
                height: 100%;
                @include border-radius(6px);
                border: none;
                padding: 10px 20px;
                box-sizing: border-box;
                font-size: 16px;
            }
            .footer__form--btn{
                @include border-radius(6px);
                background-color: $amarelo;
                color: $preto;
                height: 100%;
                width: 110px;
                margin-left: 15px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                border: none;
                @include transition(0.2s);
                &:hover{
                    background-color: darken($amarelo, 10%);
                }
            }
        }
        .footer__midias{
            width: 100%;
            height: auto;
            margin: 60px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .footer__midias--icon{
                .footer__midias--link{
                    color: $amarelo;
                    font-size: 42px;
                    margin: 0 15px;
                }
            }
        }
        .footer__infos{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            .footer__adress{
                font-size: 16px;
                .footer__adress--mail{ 
                    color: $branco; 
                    text-decoration: none;
                    @include transition(0.2s);
                    &:hover{
                        font-weight: bold;
                    }
                }
                .footer__adress--tel{ 
                    color: $branco; 
                    text-decoration: none;
                    @include transition(0.2s);
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
            .footer__menu{
                .footer__menu--link{
                    > a{
                        color: $branco;
                        text-decoration: none;
                        font-size: 16px;
                        @include transition(0.2s);
                        &:hover{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer{
        .footer__container{
            .footer__container--subtitle{
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 320px) {
    .footer{
        .footer__container{
            .footer__container--subtitle{
                font-size: 16px;
            }
            .footer__form{
                height: auto;
                flex-direction: column;
                .footer__form--mail{
                    width: 100%;
                    margin-bottom: 15px;
                }
                .footer__form--btn{
                    height: 40px;
                    width: 110px;
                    margin-left: 0;
                }
            }
            .footer__midias{
                width: 100%;
                height: auto;
                margin: 60px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                .footer__midias--icon{
                    .footer__midias--link{
                        color: $amarelo;
                        font-size: 42px;
                        margin: 0 15px;
                    }
                }
            }
            .footer__infos{
                flex-direction: column;
                align-items: center;
                .footer__menu{
                    margin: 20px 0;
                    display: flex;
                    .footer__menu--link{
                        margin: 0 10px;
                        > a{
                            color: $branco;
                            text-decoration: none;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}