.header{
    width: 100%;
    height: auto;
    background-color: $amarelo;
    .header__container{
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding: 60px 0 50px;
        .header__row{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__logo{
                width: 40%;
                height: auto;
            }
            .header__nav{
                width: 60%;
                height: auto;
                .header__bars{
                    display: none;
                }
                .header__menu{
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .header__menu--item{
                        .header__menu--link{
                            text-decoration: none;
                            color: $preto;
                            font-size: 22px;
                            font-weight: bold;
                            margin-left: 60px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .header__slider{
            width: 100%;
            height: auto;
            margin-top: 40px;
            .header__content{
                width: 100%;
                height: auto;
                .header__content--slide{
                    width: 100%;
                    height: auto;
                    display: none;
                    align-items: center;
                    justify-content: space-between;
                    .header__text{
                        width: 50%;
                        margin-right: 40px;
                        .header__text--title{
                            margin: 15px 0;
                        }
                        .header__text--subtitle{
                            color: #313841;
                            font-size: 20px;
                            margin: 15px 0;
                        }
                        .header__text--paragraph{
                            color: #555555;
                            font-size: 16px;
                            margin: 15px 0;
                        }
                        .header__icons{
                            width: 100%;
                            display: flex;
                            align-items: baseline;
                            font-size: 42px;
                            cursor: pointer;
                            .header__icons--apple{ 
                                margin-right: 20px;
                                > a{
                                    text-decoration: none;
                                    color: $preto;
                                }
                            }
                            .header__icons--android{
                                margin-right: 20px;
                                > a{
                                    text-decoration: none;
                                    color: $preto;
                                }
                            }
                            .header__icons--windows{
                                > a{
                                    text-decoration: none;
                                    color: $preto;
                                }
                            }

                        }
                    }
                    .header__image{
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        .header__image--ipad{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .slideAtivo{
                    display: flex;
                }
            }
            .header__bullets{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0;
                .header__bullets--icon{
                    text-indent: -9999px;
                    width: 12px;
                    height: 12px;
                    background-color: #fff;
                    opacity: 0.3;
                    @include border-radius(50%);
                    margin: 0 3px;
                    cursor: pointer;
                    @include transition(0.2s);
                }
                .bullet-ativo{
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header{
        .header__container{
            .header__row{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header__nav{
                    width: 60%;
                    height: auto;
                    .header__bars{
                        display: flex;
                        justify-content: flex-end;
                        cursor: pointer;
                        .svg-inline--fa{
                            font-size: 45px;
                        }
                    }
                    .header__menu{
                        width: 40%;
                        height: auto;
                        background-color: $preto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        padding: 40px 0 60px;
                        opacity: 0;
                        @include translate(-290px, 0);
                        @include transition(0.2s);
                        .header__menu--item{
                            margin-top: 20px; 
                            .header__menu--link{
                                color: $amarelo;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .showMenu{
                        @include translate(0, 0);
                        opacity: 1;
                    }
                }
            }
            .header__slider{
                .header__content{
                    .header__content--slide{
                        .header__text{
                            width: 60%;
                            margin-right: 20px;
                            .header__text--subtitle{
                                font-size: 18px;
                            }
                            .header__text--paragraph{
                                font-size: 16px;
                            }
                        }
                        .header__image{
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .header{
        .header__container{
            .header__row{
                .header__nav{
                    .header__menu{
                        width: 70%;
                    }
                }
            }
            .header__slider{
                .header__content{
                    .header__content--slide{
                        flex-direction: column;
                        .header__text{
                            width: 100%;
                            margin-right: 0;
                            .header__text--title{
                                text-align: center;
                            }
                            .header__text--subtitle{
                                font-size: 16px;
                                text-align: center;
                            }
                            .header__text--paragraph{
                                font-size: 14px;
                                text-align: center;
                            }
                            .header__icons{
                                justify-content: center;
                            }
                        }
                        .header__image{
                            width: 80%;
                            margin-top: 15px;
                        }
                    }
                }
                .header__bullets{
                    margin-top: 25px;
                }
            }
        }
    }
}
