// Paleta de cores
$amarelo: #fcdb00;
$branco: #ffffff;
$preto: #010101;

// Fontes
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$PT: 'PT Sans', sans-serif;

h1, h2, h3, h4, h5, h6, p, a{ font-family: $PT; }

h2{ font-size: 32px; }

// border radius
@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

// transition
@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    transition: $value;
}

// translate
@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    transform: translate($x, $y);
}