@import url("https://fonts.googleapis.com/css?family=PT+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "PT Sans", sans-serif; }

h2 {
  font-size: 32px; }

.header {
  width: 100%;
  height: auto;
  background-color: #fcdb00; }
  .header .header__container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 60px 0 50px; }
    .header .header__container .header__row {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .header__container .header__row .header__logo {
        width: 40%;
        height: auto; }
      .header .header__container .header__row .header__nav {
        width: 60%;
        height: auto; }
        .header .header__container .header__row .header__nav .header__bars {
          display: none; }
        .header .header__container .header__row .header__nav .header__menu {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          .header .header__container .header__row .header__nav .header__menu .header__menu--item .header__menu--link {
            text-decoration: none;
            color: #010101;
            font-size: 22px;
            font-weight: bold;
            margin-left: 60px; }
            .header .header__container .header__row .header__nav .header__menu .header__menu--item .header__menu--link:hover {
              text-decoration: underline; }
    .header .header__container .header__slider {
      width: 100%;
      height: auto;
      margin-top: 40px; }
      .header .header__container .header__slider .header__content {
        width: 100%;
        height: auto; }
        .header .header__container .header__slider .header__content .header__content--slide {
          width: 100%;
          height: auto;
          display: none;
          align-items: center;
          justify-content: space-between; }
          .header .header__container .header__slider .header__content .header__content--slide .header__text {
            width: 50%;
            margin-right: 40px; }
            .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--title {
              margin: 15px 0; }
            .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--subtitle {
              color: #313841;
              font-size: 20px;
              margin: 15px 0; }
            .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--paragraph {
              color: #555555;
              font-size: 16px;
              margin: 15px 0; }
            .header .header__container .header__slider .header__content .header__content--slide .header__text .header__icons {
              width: 100%;
              display: flex;
              align-items: baseline;
              font-size: 42px;
              cursor: pointer; }
              .header .header__container .header__slider .header__content .header__content--slide .header__text .header__icons .header__icons--apple {
                margin-right: 20px; }
                .header .header__container .header__slider .header__content .header__content--slide .header__text .header__icons .header__icons--apple > a {
                  text-decoration: none;
                  color: #010101; }
              .header .header__container .header__slider .header__content .header__content--slide .header__text .header__icons .header__icons--android {
                margin-right: 20px; }
                .header .header__container .header__slider .header__content .header__content--slide .header__text .header__icons .header__icons--android > a {
                  text-decoration: none;
                  color: #010101; }
              .header .header__container .header__slider .header__content .header__content--slide .header__text .header__icons .header__icons--windows > a {
                text-decoration: none;
                color: #010101; }
          .header .header__container .header__slider .header__content .header__content--slide .header__image {
            width: 50%;
            display: flex;
            justify-content: center; }
            .header .header__container .header__slider .header__content .header__content--slide .header__image .header__image--ipad {
              width: 100%;
              height: 100%; }
        .header .header__container .header__slider .header__content .slideAtivo {
          display: flex; }
      .header .header__container .header__slider .header__bullets {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0; }
        .header .header__container .header__slider .header__bullets .header__bullets--icon {
          text-indent: -9999px;
          width: 12px;
          height: 12px;
          background-color: #fff;
          opacity: 0.3;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin: 0 3px;
          cursor: pointer;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          transition: 0.2s; }
        .header .header__container .header__slider .header__bullets .bullet-ativo {
          opacity: 1; }

@media (max-width: 768px) {
  .header .header__container .header__row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .header__container .header__row .header__nav {
      width: 60%;
      height: auto; }
      .header .header__container .header__row .header__nav .header__bars {
        display: flex;
        justify-content: flex-end;
        cursor: pointer; }
        .header .header__container .header__row .header__nav .header__bars .svg-inline--fa {
          font-size: 45px; }
      .header .header__container .header__row .header__nav .header__menu {
        width: 40%;
        height: auto;
        background-color: #010101;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 40px 0 60px;
        opacity: 0;
        -webkit-transform: translate(-290px, 0);
        -moz-transform: translate(-290px, 0);
        transform: translate(-290px, 0);
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
        .header .header__container .header__row .header__nav .header__menu .header__menu--item {
          margin-top: 20px; }
          .header .header__container .header__row .header__nav .header__menu .header__menu--item .header__menu--link {
            color: #fcdb00; }
            .header .header__container .header__row .header__nav .header__menu .header__menu--item .header__menu--link:hover {
              text-decoration: underline; }
      .header .header__container .header__row .header__nav .showMenu {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1; }
  .header .header__container .header__slider .header__content .header__content--slide .header__text {
    width: 60%;
    margin-right: 20px; }
    .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--subtitle {
      font-size: 18px; }
    .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--paragraph {
      font-size: 16px; }
  .header .header__container .header__slider .header__content .header__content--slide .header__image {
    width: 40%; } }
@media (max-width: 320px) {
  .header .header__container .header__row .header__nav .header__menu {
    width: 70%; }
  .header .header__container .header__slider .header__content .header__content--slide {
    flex-direction: column; }
    .header .header__container .header__slider .header__content .header__content--slide .header__text {
      width: 100%;
      margin-right: 0; }
      .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--title {
        text-align: center; }
      .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--subtitle {
        font-size: 16px;
        text-align: center; }
      .header .header__container .header__slider .header__content .header__content--slide .header__text .header__text--paragraph {
        font-size: 14px;
        text-align: center; }
      .header .header__container .header__slider .header__content .header__content--slide .header__text .header__icons {
        justify-content: center; }
    .header .header__container .header__slider .header__content .header__content--slide .header__image {
      width: 80%;
      margin-top: 15px; }
  .header .header__container .header__slider .header__bullets {
    margin-top: 25px; } }
.content {
  width: 100%;
  height: auto;
  margin: 60px 0; }
  .content .content__container {
    width: 80%;
    height: auto;
    margin: 0 auto; }
    .content .content__container .content__title {
      text-align: center;
      margin: 15px 0; }
    .content .content__container .content__subtitle {
      text-align: center;
      color: #313841;
      font-size: 20px;
      margin: 15px 0; }
    .content .content__container .content__icons {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .content .content__container .content__icons .content__icons--icon {
        width: 33%;
        height: auto;
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 0;
        box-sizing: border-box; }
        .content .content__container .content__icons .content__icons--icon .svg-inline--fa {
          font-size: 50px;
          margin-right: 20px; }
        .content .content__container .content__icons .content__icons--icon .content__text .content__text--title {
          font-size: 22px;
          margin-bottom: 10px; }
        .content .content__container .content__icons .content__icons--icon .content__text .content__text--paragraph {
          font-size: 16px;
          color: #898989; }

@media (max-width: 768px) {
  .content .content__container .content__subtitle {
    font-size: 18px; }
  .content .content__container .content__icons .content__icons--icon {
    width: 50%;
    margin: 30px 0; } }
@media (max-width: 320px) {
  .content .content__container .content__subtitle {
    font-size: 18px; }
  .content .content__container .content__icons .content__icons--icon {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    padding: 0; }
    .content .content__container .content__icons .content__icons--icon .svg-inline--fa {
      font-size: 50px;
      margin-right: 20px; }
    .content .content__container .content__icons .content__icons--icon .content__text .content__text--paragraph {
      font-size: 14px; } }
.footer {
  width: 100%;
  height: auto;
  background-color: #010101; }
  .footer .footer__container {
    width: 80%;
    height: auto;
    color: #ffffff;
    margin: 0 auto;
    padding: 60px 0 100px; }
    .footer .footer__container .footer__container--title {
      text-align: center;
      color: #fcdb00;
      margin: 15px 0; }
    .footer .footer__container .footer__container--subtitle {
      color: #898989;
      font-size: 20px;
      text-align: center; }
    .footer .footer__container .footer__form {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0; }
      .footer .footer__container .footer__form .footer__form--mail {
        width: 45%;
        height: 100%;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: none;
        padding: 10px 20px;
        box-sizing: border-box;
        font-size: 16px; }
      .footer .footer__container .footer__form .footer__form--btn {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-color: #fcdb00;
        color: #010101;
        height: 100%;
        width: 110px;
        margin-left: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        border: none;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
        .footer .footer__container .footer__form .footer__form--btn:hover {
          background-color: #c9af00; }
    .footer .footer__container .footer__midias {
      width: 100%;
      height: auto;
      margin: 60px 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .footer__container .footer__midias .footer__midias--icon .footer__midias--link {
        color: #fcdb00;
        font-size: 42px;
        margin: 0 15px; }
    .footer .footer__container .footer__infos {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between; }
      .footer .footer__container .footer__infos .footer__adress {
        font-size: 16px; }
        .footer .footer__container .footer__infos .footer__adress .footer__adress--mail {
          color: #ffffff;
          text-decoration: none;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          transition: 0.2s; }
          .footer .footer__container .footer__infos .footer__adress .footer__adress--mail:hover {
            font-weight: bold; }
        .footer .footer__container .footer__infos .footer__adress .footer__adress--tel {
          color: #ffffff;
          text-decoration: none;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          transition: 0.2s; }
          .footer .footer__container .footer__infos .footer__adress .footer__adress--tel:hover {
            font-weight: bold; }
      .footer .footer__container .footer__infos .footer__menu .footer__menu--link > a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s; }
        .footer .footer__container .footer__infos .footer__menu .footer__menu--link > a:hover {
          font-weight: bold; }

@media (max-width: 768px) {
  .footer .footer__container .footer__container--subtitle {
    font-size: 18px; } }
@media (max-width: 320px) {
  .footer .footer__container .footer__container--subtitle {
    font-size: 16px; }
  .footer .footer__container .footer__form {
    height: auto;
    flex-direction: column; }
    .footer .footer__container .footer__form .footer__form--mail {
      width: 100%;
      margin-bottom: 15px; }
    .footer .footer__container .footer__form .footer__form--btn {
      height: 40px;
      width: 110px;
      margin-left: 0; }
  .footer .footer__container .footer__midias {
    width: 100%;
    height: auto;
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .footer__container .footer__midias .footer__midias--icon .footer__midias--link {
      color: #fcdb00;
      font-size: 42px;
      margin: 0 15px; }
  .footer .footer__container .footer__infos {
    flex-direction: column;
    align-items: center; }
    .footer .footer__container .footer__infos .footer__menu {
      margin: 20px 0;
      display: flex; }
      .footer .footer__container .footer__infos .footer__menu .footer__menu--link {
        margin: 0 10px; }
        .footer .footer__container .footer__infos .footer__menu .footer__menu--link > a {
          color: #ffffff;
          text-decoration: none;
          font-size: 16px; } }

/*# sourceMappingURL=geral.css.map */
